.header-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9B51E0;
}

.a-non-decor {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    height: 94px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.logo-brand {
    display: flex;
}

.logo-img {
    display: block;
    width: 50px;
    height: 48px;
    left: 149px;
    border: 3px solid #FFC740;
    box-sizing: border-box;
    margin-top: 30px;
}

.logo-text {
    display: block;
    height: 28px;
    left: 174px;
    margin-top: 42px;
    margin-left: -23px;
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    transition-duration: 0.6s;
}

.logo-text:hover {
    color: #FFC740;
}

.search {
    display: flex;
    margin-top: 40px;
    height: 31px;
    border: 1px solid #6D3D99;
}

.search-input {
    display: block;
    width: 201px;
    height: 100%;
    outline-style: none;
    padding: 0 10px 0 10px;
}

.search-input:active, .search-input:focus {
    border: none;
}

.search-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    justify-content: center;
    background-color: #9B51E0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.7s;
}

.search-button:hover {
    background-color: #FFC740;
}

nav {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

#toggle {
    display: none;
}

.toggle-label {
    display: none;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 47px;
    font-family: Roboto;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #050505;
    transition-duration: 0.7s;
}

.a-nav {
    text-decoration: none;
}

.nav-button:hover {
    color: #FFFFFF;
    background-color: #FFC740;
}

/* for demonstration */

#home-button {
    color: #FFFFFF;
    background-color: #FFC740;
}

.slider {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 5px;
}

.slider-container {
    display: block;
    position: relative;
    width: 980px;
    height: 340px;
}

.slider-img {
    display: block;
    position: absolute;
    background-image: url("../img/slider.jpeg");
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    filter: brightness(60%);
    height: 332px;
    width: 100%;
    transition-duration: 1.7s;
}

/* .slider-img:hover {
    filter: brightness(80%);
} */

.slider-title {
    display: block;
    position: absolute;
    width: 509px;
    left: 44px;
    top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
    color: #FFC740;
}

.slider-p {
    display: block;
    position: absolute;
    top: 180px;
    left: 44px;
    width: 451px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.slider-button {
    display: block;
    position: absolute;
    bottom: 32px;
    left: 44px;
    width: 126px;
    height: 26px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: #6D3D99;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.6s;
}

.slider-button:hover {
    background-color: #FFC740;
}

.a-slider-button {
    text-decoration: none;
}

.main-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 980px;
}

.main-container {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

article {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 476px;
    height: 171px;
}

.article-bottom {
    width: 476px;
}

.article-line {
    display: block;
    width: 100%;
    height: 16px
}

.violet {
    background-color: #9B51E0;
}

.yellow {
    background-color: #FFC740;
}

.article-title {
    display: inline;
    margin-left: 16px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.article-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 141px;
    width: 476px;
    padding-top: 14px;
}

.article-wrap-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.article-img {
    display: block;
    position: absolute;
    float: left;
    width: 141px;
    height: 141px;
    border: 2px solid #FFC740;
    transition-duration: 0.6s;
}

.article-img:hover {
    opacity: 0.8;
}

.first-article-img {
    background-image: url("../img/dog.jpg");
    background-size: 165px 148px;
    background-position-y: -4px;
    background-position-x: 15%;
}

.second-article-img {
    background-image: url("../img/steve.jpg");
    background-position-x: 34%;
    background-size: 265px 145px;
}

.third-article-img {
    background-image: url("../img/animal.jpg");
    background-size: 175px 175px;
    background-position-y: 20%;
    background-position-x: 50%;
}

.fours-article-img {
    background-image: url("../img/girl.jpg");
    background-size: 210px 215px;
    background-position-x: 18%;
    background-position-y: -4px;
}

.article-text {
    height: 105px;
    padding-left: 160px;
    margin-top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: justify;
    color: #000000;
}

.bottom-block-text {
    height: 105px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: justify;
    color: #000000;
}

.article-label-a {
    display: block;
    margin-top: 10px;
    width: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    transition-duration: 0.5s;
}

.article-label-a:hover {
    color: #FFC740;
}

.article-label-p {
    display: block;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000
}

.resent-post-img {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.first-resent-img {
    background-image: url("../img/car.jpg");
    background-size: 90px 50px;
    background-position-y: -4px;
    background-position-x: 32%;
}

.second-resent-img {
    width: 41px;
    height: 41px;
    background-image: url("../img/iphone.jpg");
    background-size: 84px 45px;
    background-position-y: -2px;
    background-position-x: center;
}

.third-resent-img {
    background-image: url("../img/news.png");
    background-size: 82px 52px;
    background-position-y: -4px;
    background-position-x: 50%;
}

.resent-post {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 9px;
    transition-duration: 0.4s;
}

.resent-post:hover {
    transform: scale(1.01);
    background-color: #FFC740;
}

.resent-post-text {
    padding-left: 9px;
    width: 100%;
}

.h4-resent {
    display: block;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #000000;
    margin-top: -2px;
    margin-bottom: 0;
}

.p-resent {
    display: block;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: justify;
    color: #000000;
    margin-top: -1px;
}

aside {
    display: flex;
    justify-content: center;
    height: 160px;
}

.aside-container {
    display: block;
    width: 980px;
}

.logos-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logos {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
}

.logo1 {
    width: 95px;
    height: 98px;
}

.logo2 {
    margin-top: 14px;
    width: 98px;
    height: 98px;
}

.logo3 {
    margin-top: 23px;
    width: 209px;
    height: 79px;
}

.logo4 {
    margin-top: 12px;
    width: 162px;
    height: 88px;
}

.logo5 {
    margin-top: 15px;
    width: 140px;
    height: 72px;
}

.logo {
    transition-duration: 0.8s;
}

.logo:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

footer {
    display: flex;
    justify-content: center;
    height: 115px;
    background-color: #6D3D99;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
}

.p-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.p-footer a {
    color: #FFFFFF;
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
        position: relative;
        margin-top: 12px;
        color: black;
        margin-bottom: 8px;
    }
    #toggle {
        display: none;
    }
    .toggle-label {
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        width: 100%;
        height: 30px;
        cursor: pointer;
        z-index: 2;
        font-family: Roboto;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 2rem;
        color: #050505;
        transition-duration: 0.7s;
        background-color: white;
        padding-bottom: 10px
    }
    .burger-line {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #000000;
        z-index: 3;
        transition-duration: 0.2s;
    }
    .secondline, .thirdline {
        top: 15px;
    }
    .fourthline {
        top: 25px;
    }
    .mob {
        justify-content: center;
        width: 300px;
        align-content: center;
        transform: translateY(20%);
        padding-top: 5px;
        padding-bottom: 30px;
        overflow: hidden;
        font-size: 0;
        max-height: 0;
        transition: 0.7s;
        margin: 0 auto;
    }
    #toggle:checked~.mob {
        max-height: 400px;
    }
    #toggle:checked~.firstline {
        display: none;
    }
    #toggle:checked~.secondline {
        transform: rotate(45deg);
    }
    #toggle:checked~.thirdline {
        transform: rotate(-45deg);
    }
    #toggle:checked~.fourthline {
        display: none;
    }
    .logo-img {
        margin-left: 3px;
        width: 50px;
    }
    .logo-text {
        height: 30px;
        width: 50px;
        padding-top: 2px;
        margin-top: 38px;
        margin-left: -42px;
        line-height: 15px;
        font-size: 1.2em;
    }
    .search-input {
        width: 180px;
    }
    nav {
        margin-top: 5px;
    }
    #toggle {
        display: none;
    }
    .slider-container {
        width: 100%;
        height: 380px;
    }
    .slider-img {
        background-position-x: center;
        height: 380px;
        width: 100%;
    }
    .slider-title {
        width: 250px;
        left: 20px;
        top: 12px;
        line-height: 2.2rem;
        font-size: 2.7rem;
    }
    .slider-p {
        width: 90% !important;
        top: 135px;
        left: 20px;
        width: 348px;
        font-size: 1rem;
        color: #FFFFFF;
    }
    .slider-button {
        bottom: 40px;
        left: 20px;
    }
    .main-wrap {
        display: flex;
        width: 100% !important;
    }
    .main-container {
        display: flex;
        height: 680px !important;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        margin-bottom: -45px;
    }
    article {
        padding-bottom: 10px;
        width: 100% !important;
        height: 261px;
    }
    article:last-child {
        height: 251px;
    }
    .article-bottom {
        width: 100% !important;
        height: 210px;
    }
    .article-line {
        margin-top: 10px;
        width: 100% !important;
    }
    .article-title {
        display: inline;
        margin-left: 16px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        background-color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #000000;
    }
    .article-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 14px;
    }
    .article-wrap-bottom {
        display: flex;
        justify-content: space-between;
    }
    .article-text {
        display: block;
        padding-left: 160px;
        margin-top: 1px;
        height: 285px !important;
        width: 100% !important;
    }
    .bottom-block-text {
        width: 100%;
        font-size: 12px;
        text-align: justify;
        color: #000000;
    }
    aside {
        display: flex;
        justify-content: center;
        height: 360px;
    }
    .logos-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 10px;
    }
    .logos {
        padding-right: 10px;
    }
}

@media screen and (min-width: 468px) and (max-width: 980px) {
    .nav-container {
        width: 80%; 
        padding-top: 10px;
        margin: 0 auto;
        }
    .nav-button {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .main-wrap {
        display: flex;
        width: 100% !important;
    }
    .main-container {
        display: flex;
        height: 700px !important;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        margin-bottom: -75px;
    }
    .main-container:first-child {
        margin-top: -40px;
    }
    .main-wrap:last-child {
        margin-bottom: -15px;
    }
    article {
        padding-bottom: 0px;
        height: 181px !important;
        width: 100% !important;
        margin-top: 10px;
    }
    article:last-child {
        height: 172px;
        margin-bottom: 78px;
    }
    .article-bottom {
        width: 100% !important;
        height: 171px;
    }
    .article-bottom:first-child {
        margin-bottom: -75px;
    }
    .article-line {
        margin-top: 10px;
        width: 100% !important;
    }
    .article-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 14px;
    }
    .article-wrap-bottom {
        display: flex;
        justify-content: space-between;
    }
    .article-text {
        display: block;
        padding-left: 160px;
        height: 100%;
        width: 100% !important;
        margin-top: 1px !important;
    }
    .bottom-block-text {
        width: 100%;
        font-size: 12px;
        text-align: justify;
        color: #000000;
    }
    aside {
        display: flex;
        justify-content: center;
        margin-top: -80px
    }
    .logos-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 10px;
        height: 130%;
    }
    .logos {
        padding-right: 10px;
    }
}