
header {
    display: flex;
    justify-content: center;
    height: 94px;
    /* background-color: green; */
}
.header-container {
    display: flex;
    justify-content: space-between;
    width: 980px;
    /* background-color: yellow; */
}
.logo {
    display: flex;
}
.logo-img {
    display: block;
    width: 50px;
    height: 48px;
    left: 149px;
    border: 3px solid #FFC740;
    box-sizing: border-box;
    margin-top: 30px;
}
.logo-text {
    display: block;
    height: 28px;
    left: 174px;
    margin-top: 42px;
    margin-left: -23px;
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
}
.search {
    display: flex;
    margin-top: 40px;
}
.search-input {
    display: block;
    width: 201px;
    height: 33px;
    outline: none;
    border: 1px solid #6D3D99;
    padding: 0 10px 0 10px;
}
.search-button {
    display: flex;
    align-items: center;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #9B51E0;
    border: 1px solid #6D3D99;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}
nav {
    display: flex;
    justify-content: center;
    height: 64px;
    margin-top: -10px;
    /* background-color: blue; */
}
.nav-container {
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 980px;
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 47px;
    font-family: Roboto;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #050505;
   
}
.nav-button:hover {
    color: #FFFFFF;
    background-color: #FFC740;
}
/* for demonstration */
#home-button {
    color: #FFFFFF;
    background-color: #FFC740;
}

.slider {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /* background-color: #8328; */
}

.slider-container {
    display:inline-block;   
    position:relative;
    width: 980px;
    height: 340px;
    /* background-image: url("../img/slider.jpeg");
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    filter: brightness(60%); 
    z-index: 3; */
}
/* .slider-background {
    
} */

.slider-img {
    display: block;
    position: absolute;
    background-image: url("../img/slider.jpeg");
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    filter: brightness(60%); 
    height: 332px;
    width: 980px;
    
}
.slider-title {
    display: block;
    position: absolute;
    width: 509px;
    left: 44px;
    top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px; 
    color: #FFC740;
}
.slider-p {
    display: block;
    position: absolute;
    top: 180px;
    left: 44px;
    width: 451px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.slider-button {
    display: block;
    position: absolute;
    bottom: 32px;
    left: 44px;
    width: 125px;
    height: 25px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: #6D3D99;
    border: 1px solid #6D3D99;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}